a {
  text-decoration: none;
}

#contact_modal {
  display: none;
  height: 0px;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photographer_section_header article {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2.4em;
}

.photographe-name {
  color: #d3573c;
  font-size: 36px;
}

.localisation {
  color: #901c1c;
  font-weight: 800;
}

.citation {
  color: #525252;
  font-weight: 400;
}

.photographer_section_header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.4em;
  background-color: salmon;
  box-shadow: 0px 1px 5px black;
  margin-left: 1em;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

.contact_button:hover {
  color: black;
  background-color: #db8876;
  transition: ease-in-out 0.5s;
}

.contact_button:focus {
  border: black 4px solid;
}

label {
  font-weight: bold;
  font-size: 1.4em;
  padding-right: 0.4em;
}

select {
  background-color: #911c1c;
  border-radius: 5px;
  border: none;
  color: rgb(255, 255, 255);
  font-size: 1.4em;
  height: 59px;
  padding: 0.2rem;
  margin-top: 2rem;
  width: 170px;
}

.test::after {
  content: "\f078";
  transform: rotate(90deg);
}

option {
  font-size: 0.9em;
  display: block;
  white-space: nowrap;
  min-height: 1.2em;
  padding: 0px 2px 1px;
  border: white 8px solid;
}

#photo-name {
  font-size: 2.3em;
  padding-top: 1em;
  position: absolute;
  font-weight: 600;
}

#gallerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 1.5em;
  margin: auto;
  justify-content: space-around;
  padding-top: 2em;
  max-width: 92%;
}

.paragraph-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #911c1c;
  max-width: 80%;
  padding-left: 10%;
}

.article-media {
  margin: auto;
}

#lightbox {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 1em;
  background: rgba(255, 252, 252, 0.925);
}

#lightbox > div > a {
  display: block;
  margin: auto;
}
.photo-card-img-lightbox {
  max-width: 85%;
  height: 550px;
  max-height: 95%;
  margin: auto;
  display: block;
  padding-top: 3em;
}

.close-lightbox-icon {
  position: absolute;
  color: #911c1c;
  font-size: 2em;
  right: 2%;
}

.left-arrow-lightbox {
  position: absolute;
  top: 30%;
  left: 2%;
  color: #911c1c;
  font-size: 2em;
}

.right-arrow-lightbox {
  position: absolute;
  top: 30%;
  right: 2%;
  color: #911c1c;
  font-size: 2em;
}

#lightbox-media img {
  height: 100%;
  object-fit: contain;
  width: 100%;
}

.photo-card-video-lightbox {
  max-width: 85%;
  height: 800px;
  max-height: 85%;
  margin: auto;
  display: block;
  padding-top: 3em;
}

#lightbox-name {
  color: #911c1c;
  font-size: 2em;
  text-align: center;
  padding-top: 0.8em;
}

.photo-card-video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  object-position: 40% 40%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  background: #c4c4c4;
  box-shadow: 0px 4px 12px black;
  padding: 0em;
}

video {
  max-width: 350px;
}

.itemMedia {
  height: 300px;
  width: 350px;
  object-fit: cover;
  object-position: 40% 40%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 6px;
  background: #c4c4c4;
  box-shadow: 0px 4px 12px black;
  margin: 1em;
  /* margin-right: 2.4em;
  margin-left: 2.4em; */
  justify-content: space-around;
}

.video-title {
  max-width: 3em;
}

.card-title {
  color: #911c1c;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 1.3em;
  line-height: 31px;
  margin-top: -0.3em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 10em;
}

.card-title-lightbox {
  color: #911c1c;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin: 50% 50%;
}

.number-likes {
  font-size: 1.2em;
  color: #911c1c;
  white-space: nowrap;
  position: relative;
  margin-top: -0.3em;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: relative;
  top: -27em;
  z-index: 1;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  position: relative;
  top: -2.4em;
  right: -1em;
  width: 2em;
}

.modal header h2 {
  font-size: 2em;
  font-weight: normal;
  text-align: center;
  margin-top: -1.6em;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 1.3em;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 0.8em;
  margin-top: 0.4em;
}

form input {
  width: 100%;
  height: 2.4em;
  font-size: 1em;
  border: none;
  border-radius: 5px;
}

form input:focus {
  border: black 4px solid;
}

form textarea:focus {
  border: black 4px solid;
}

textarea {
  width: 100%;
  font-size: 1em;
  border-radius: 5px;
  height: 3.2em;
}

.error {
  font-size: 0.9em;
  color: rgb(141, 30, 30);
  font-weight: 800;
  padding-top: 0.5em;
  margin-left: 0.4em;
}

.first-form {
  margin-top: 1.8em;
}

.modal-thank {
  border-radius: 5px;
  background-color: #db8876;
  width: 30%;
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding-top: 8em;
  text-align: center;
  margin: auto;
  z-index: 1;
  font-size: 1.8em;
  top: -12.9em;
  position: relative;
}

.close_btn_thank {
  position: absolute;
  top: 0.5em;
  right: 2%;
  z-index: 1;
  width: 1em;
}

#box-likes-prices {
  align-items: center;
  background: #db8876;
  border-radius: 0.3em;
  bottom: 0;
  display: flex;
  font-size: 1.2em;
  font-weight: 500;
  height: 4em;
  justify-content: space-between;
  padding: 0 2em;
  position: fixed;
  right: 2.5em;
  width: 18em;
}

.total_likes_counter {
  position: relative;
  top: 0.5em;
}

#box-likes-prices .fa-heart {
  position: relative;
  top: -2em;
  right: -3em;
}
