#contact_modal {
  display: none;
}

.photograph-header {
  background-color: #fafafa;
  height: 300px;
  margin: 0 100px;
}

.photographer_section_header article {
  justify-self: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  padding: 2.4em;
}

.photographe-name {
  color: #d3573c;
  font-size: 36px;
}

.localisation {
  color: #901c1c;
  font-weight: 800;
}

.citation {
  color: #525252;
  font-weight: 400;
}

.photographer_section_header img {
  height: 200px;
  width: 200px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 0.4em;
  background-color: salmon;
}

.contact_button {
  font-size: 20px;
  font-weight: bold;
  color: white;
  padding: 11px;
  width: 170px;
  height: 70px;
  border: none;
  background-color: #901c1c;
  border-radius: 5px;
  cursor: pointer;
}

#gallerie {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  border-radius: 1.5rem;
  margin: 3em;
}

.paragraph-gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #911c1c;
}

.article-media {
  margin: auto;
  padding: 0.9em;
}

.photo-card-img {
  height: 300px;
  width: 350px;
  object-fit: cover;
  object-position: 40% 40%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  background: #c4c4c4;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
  margin-top: 2rem;
}
.photo-card-video {
  height: 300px;
  width: 350px;
  object-fit: cover;
  object-position: 40% 40%;
  max-width: 100%;
  max-height: 100%;
  border-radius: 5px;
  background: #c4c4c4;
  box-shadow: 0px 4px 12px rgb(0 0 0 / 25%);
}

.card-title {
  color: #911c1c;
  font-family: "DM Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 31px;
  margin-top: 0rem;
  margin-bottom: 0;
  overflow: hidden;
  text-overflow: ellipsis;
}

.modal {
  border-radius: 5px;
  background-color: #db8876;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 35px;
  margin: auto;
  position: relative;
  top: -20em;
}

.modal header {
  justify-content: space-between;
  width: 100%;
}

.modal header img {
  cursor: pointer;
  position: relative;
  top: -4.8em;
  right: -2.2em;
}

.modal header h2 {
  font-size: 55px;
  font-weight: normal;
  text-align: center;
  margin-top: -1.6em;
}

form {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

form label {
  color: #312e2e;
  font-size: 36px;
}

form div {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: self-start;
  margin-bottom: 26px;
}

form input {
  width: 100%;
  height: 68px;
  border: none;
  border-radius: 5px;
}

textarea {
  width: 100%;
  font-size: 2em;
  border-radius: 5px;
}

.error {
  font-size: 1.5em;
  color: rgb(141, 30, 30);
  font-weight: 800;
  padding-top: 0.5em;
  margin-left: 0.4em;
}
